body {
    background-color: #0d1117;
    color: #c9d1d9;
}

.navbar {
    background-color: #010409;
}

.nav-link, .navbar-brand {
    color: #f0f6fc !important;
}

.card {
    background-color: #161b22;
    border: 1px solid #30363d;
}

.btn {
    transition: 0.2s;
}

.btn-login {
    background-color: #238636;
    color: white;
}

.btn-cart {
    background-color: #1f6feb;
    color: white;
}

.btn-delete, .btn-logout {
    background-color: #da3633;
    color: white;
}

.table {
    color: #c9d1d9;
}